$radius-counter: 40%;

#component {
    //margin-top: 100px;
}

.counter {
  height: 150px;
  padding: 50px 100px;
  text-align: center;

  .count-number {
    width: 40%;
    color: black;
    font-weight: bold;
    line-height: 140px;
  }

  .button-minus {
    float: left;
  }

  .button-plus {
    float: right;
  }

  div {
    display: inline-block;
  }
}

.button-restart {
  position: relative;
  background-color: #36b934;
}

.counter-right {
  border-bottom-right-radius: $radius-counter;
  border-top-right-radius: $radius-counter;
}