@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Autour+One');

body {
  margin: 0;
  background: #323d2c;
  margin: 20px;
  background: url(assets/img/bg.jpg);
  background-size: cover;
}

.bon {
  display: inline-block;
  font-family: arial;
  font-size: 25px;
  width: 250px;
  padding: 5px;
  border: 3px black dotted;
  background: #ff0051;
}

.modal img, .modal video {
    max-width: 500px;
}

canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.wrapper {
  text-align: center;
}

.backdrop {
  position: fixed;
  /* height: 100%; */
  top: 0;
  bottom: 0;
  z-index: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  padding: 5%;
}

.modal {
  position: fixed;
  background-color: white;
  padding: 20px;
  color: black;
  opacity: 1;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  z-index: 123330;
  font-family: 'Pacifico', cursive;
  font-size: 1.6em;
  text-align: center;
  border-radius: 5px;
  border: 2px black solid;
  overflow: auto;
}

.modal-text {
  position: absolute;
  bottom: 80px;
  top: 30px;
  left: 20px;
  right: 20px;
  overflow: auto;
}

.modal-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 5px;
}

.modal-button {
  padding: 5px;
  background-color: #062168;
  color: white;
}

.modal-button:hover {
  cursor: pointer;
}

.even .day-wrapper {
  /*background-color: #ff2c24;*/
  background: url(assets/img/bg-green.png);
  background-size: cover;
}

.odd .day-wrapper {
  /*background-color: #93edad;*/
  background: url(assets/img/bg-red.png);
  background-size: cover;
}

.day {
  display: inline-block;
}

.modal {
  text-align: center;
}

.disabled {
    opacity: 0.65;
}

@media all and (max-width: 800px) {
   .modal {
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     border-radius: 0px;
     font-size: 1em;
     border: none;
   }
}
